@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --darkGrayishRed: hsl(0, 6%, 24%);
    --softRed: hsl(0, 93%, 68%);
    --desaturatedRed: hsl(0, 36%, 70%);
}

body {
    font-weight: 300;
    font-family: 'Josefin Sans',
        sans-serif;
    background: hsl(0, 100%, 98%);
}

#bg-pattern {
    display: none;
}

#logo {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    margin-left: 1.9375rem;
}

#banner {
    height: 250px;
    width: 100%;
    background: url(./images/hero-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#content {
    text-align: center;
    padding-top: 4rem;
}

#content>span {
    font-size: 2.1875rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 12px;
    color: var(--darkGrayishRed);
}

#content span:first-child {
    color: var(--desaturatedRed);
    font-weight: inherit;
}

p {
    padding: 1.5rem 2.4375rem;
    padding-bottom: 2.375rem;
    color: var(--desaturatedRed);
}

#input {
    text-align: left;
    padding: 0 2.0625rem;
    position: relative;
}

#submit {
    padding: 0.89rem 1.5625rem;
    border-radius: 25px;
    outline: none;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    position: absolute;
    right: 2rem;
    box-shadow: 0 3px 8px 2px hsl(0, 80%, 86%);
}

#submit:hover {
    background: #ffebeb;
}

.email {
    border: 1px solid var(--desaturatedRed);
    padding: 0.9375rem 1.625rem;
    padding-right: 4.3rem;
    margin-bottom: 1.5rem;
    border-radius: 25px;
    outline: none;
    width: 100%;
    background: inherit;
}

.email::placeholder {
    color: var(--desaturatedRed);
}

.error .email {
    border-color: var(--softRed);
    padding-right: calc(3.9rem + 33px);
}

#err-img {
    position: absolute;
    right: calc(3.875rem + 35px);
    top: 12px;
    display: none;
}

#error-text {
    color: var(--softRed);
    font-size: 0.6875rem;
    position: absolute;
    bottom: 5px;
    left: calc(2.0625rem + 1.625rem);
    display: none;
}

.error #err-img {
    display: inline;
}

.error #error-text {
    display: inline-block;
}

@media screen and (min-width: 978px) {
    #bg-pattern {
        display: inline-block;
        position: absolute;
        left: -4%;
        top: -1%;
        z-index: -1;
    }

    #grid {
        display: grid;
        grid-template-columns: calc(51.5% - 13rem) 48.5%;
        grid-template-rows: auto;
        grid-template-areas:
            "a b"
            "c b";
        padding-left: 9.5625rem;
        min-height: 100vh;
        column-gap: 13rem;
        position: relative;
        overflow: hidden;
    }

    #logo {
        grid-area: a;
        margin: 0;
        margin-top: 3.5rem;
    }

    #banner {
        grid-area: b;
        background: url("./images/hero-desktop.jpg");
        width: 100%;
        height: 100%;
    }

    #content {
        grid-area: c;
        text-align: left;
    }

    #content>span {
        font-size: 3.5rem;
    }

    p {
        padding: 0;
        padding-top: 2.125rem;
        padding-bottom: 3rem;
        line-height: 1.8;
    }

    #input {
        text-align: left;
        padding: 0;
    }

    #submit {
        padding: 0.89rem 2.5rem;
        right: 0;
    }

    .email {
        padding-right: 5.8rem;
    }

    .error .email{
        padding-right: calc(5.8rem + 34px);
    }

    #error-text {
        left: 1.625rem;
    }

}